{% extends 'base.html.twig' %}


{% block body %}
    <h1>The best URL shortener out there!</h1>
        {{ form_start(form, {'attr' : {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
{% endblock %}
